<template>
  <div></div>
</template>

<script>
import axios from 'axios';
import Navbar from './Navbar';
import router from '../router';

export default {
  name: 'ChangePassword',
  components: {
      Navbar
  },
  data () {
    return {
      
    }
  },
}
</script>

<style>
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.main-container {
  padding: 50px 10px 0;
  position: relative;
  top: 70px;
  z-index: 1;
}

.wraper {
    background-color: white;
    border-radius: 20px;
    width: 1300px;
    margin: auto;
}

.inside {
    margin: center;
}

p.a {
    font-style: italic;
    padding: 20px;
    padding-top:0px;
}

.foot {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.agen {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #333333;
}

.linkAgen {
  font-style: italic;
  font-size: 16px;
  color: #B71C1C;
}

</style>
