<template>
    <div>
        <div class="header">
            <p>asdfawef</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Dashboard'
}

</script>

<style>

.header {
    background-color: #B71C1C;
    height: 80px;
    width: 100%;
}

</style>
