<template>
  <form @submit.prevent="addUser">
    <input type="text" v-model="name"/>
    <input type="text" v-model="email"/>
    <input type="text" v-model="phone"/>
    <button type="submit">Add User</button>
  </form>
</template>

<script>
export default {
  name: 'UserForm',
  data() {
    return {
      name: null,
      email: null,
      phone: null
    }
  },
  methods: {
    addUser() {
      const payload = {
        name: this.name,
        email: this.email,
        phone: this.phone
      };
      this.$emit('add-user', payload)
    }
  }
}
</script>

<style scoped>

</style>
