<template>
  <table class="list" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>NAMA</th>
      <th>EMAIL</th>
      <th>TELEPON</th>
      <th>PRODUK</th>
      <th>KOTA</th>
    </tr>
    <tbody>
      <tr
        v-for="(user, index) in users"
        :key="index"
      >
        <td class="tableElement">{{ user.name }}</td>
        <td class="tableElement">{{ user.email }}</td>
        <td class="tableElement">{{ user.phone_number }}</td>
        <td class="tableElement">{{ user.gender }}</td>
        <td class="tableElement">{{ user.city }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'UserTable',
  props: {
    users: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

.list {
  width: 100%;
  padding: 20px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th
{
 border-bottom: 2px solid #555;
 height: 50px;
}

td {
  height: 53.37px;
}

.tableElement {
  padding-left: 30px;
}


</style>
