<template>
  <div class="app">
    <Navbar />
    <div class="main-container">
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from './components/Navbar';

export default {
  name: 'app',
  components: {
    Navbar
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.app {
  background-color: #E5E5E5;
}

body {
  margin: 0;
  background-color: #E5E5E5;
}

div {
  box-sizing: border-box;
}

.main-container {
  padding: 20px 10px 0;
  position: relative;
  top: 70px;
  font-family: 'Open Sans', sans-serif;
}

</style>
